@import 'normalize.css/normalize.css';

#root {
  display: grid;
  grid-template: 1fr / 1fr 4fr 1fr;
}

main {
  grid-column: 2 / 3;
  background-color: antiquewhite;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.4);
  display: grid;
  gap: 30px;
  padding: 50px;
}

button {
  background-color: brown;
  color: white;
  padding: 10px 30px;
  border: 1px solid greenyellow;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

main > div {
  display: grid;
  gap: 10px;
}

form {
  display: grid;
  gap: 10px;
}

.toggle-edit {
  background-color: darkolivegreen;
}
